#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>ビールゲーム</title>
</head>
<body>
  <div id="main">
    <h1>ビールゲーム</h1>
    <h2><a href="$link.setAction('/preGame').addQueryData('command','init')">ゲームを開始する</a></h2>
    <h2><a href="$link.setAction('/viewStock').addQueryData('command','init')">残高の確認</a></h2>
  </div>
#parse("web/footer.vm")