#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <script language="javascript" type="text/javascript" src="./js/common.js"></script>
  <title>ビールゲーム参加登録</title>
  <script type="text/javascript" language="javascript">
  <!--
    function init(formObj) {
      formObj.command.value='init';
      formObj.submit();
    }
    function addPlayer(formObj) {
      formObj.command.value='addPlayer';
      formObj.submit();
    }
    function selectGame(formObj) {
      var f = document.getElementById("hiddenForm");
      formObj.gameId.value = f.gameId.options[f.gameId.selectedIndex].value;
      formObj.command.value='selectGame';
      formObj.submit();
    }
  -->
  </script>
</head>
<body>
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
  <input type="hidden" name="command" />
  <div id="main">
    <h2>BeerGame</h2>
#parse("web/errorList.vm")
#if($currentForm.gameId == 0)
    #set($disabled = "disabled")
#end
    <table border=4>
      <tr>
        <td>チーム名</td>
        <td colspan=2>
          <select name="gameId" onChange="selectGame(this.form);">
               <option value="0">選択してください</option>
#foreach($game in $!currentForm.getWaitingGameList())
#if($game.id == $currentForm.gameId)
    #set($gameSelected = "selected")
#else
    #set($gameSelected = "")
#end
               <option value="$game.id" $!{gameSelected}>$!{game.name}</option>
#end
          </select>
        </td>
      </tr>
      <tr>
        <td>プレイヤ名</td>
        <td colspan=2>
            <input type="text" name="playerName" value="$!{currentForm.playerName}" $!{disabled} />
        </td>
      </tr>
      <tr>
        <td>ロール</td>
        <td colspan=2>
          <select name="roleName" width="100%" $!{disabled}>
            <option value="">選択してください</option>
#foreach($role in $!currentForm.getWaitingRoleList())
#if($role.name() == $currentForm.roleName)
    #set($roleSelected = "selected")
#else
    #set($roleSelected = "")
#end
            <option value="$role.name()" $!{roleSelected}>$!{role.name()}</option>
#end
          </select>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align=center>
            <input type="button" value="登録" $!{disabled} onClick="javascript:addPlayer(this.form); this.disabled = true;" />
        </td>
        <td align=center>
            <input type="button" value="ｷｬﾝｾﾙ" onClick="javascript:init(this.form);" />
        </td>
      </tr>
    </table>
  </div>
  </form>
#parse("web/footer.vm")