#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>ビールゲーム参加登録</title>
  <script type="text/javascript" language="javascript">
  <!--
    function init(formObj) {
      formObj.command.value='init';
      formObj.submit();
    }
    function addPlayer(formObj) {
      formObj.command.value='addPlayer';
      formObj.submit();
    }
    function selectGame(formObj) {
      var f = document.getElementById("hiddenForm");
      formObj.gameId.value = f.gameId.options[f.gameId.selectedIndex].value;
      formObj.command.value='selectGame';
      formObj.submit();
    }
  -->
  </script>
</head>
<body>
#parse("web/errorList.vm")
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
  <input type="hidden" name="command" />
  <div id="main">
    <h2>BeerGame</h2>
    <table border=4>
      <tr>
        <td>チーム名</td>
        <td colspan=2>
          <select name="gameId" onChange="selectGame(this.form);">
#foreach($game in $!currentForm.getWaitingGameList())
#if($game.id == $currentForm.gameId)
               <option value="$game.id" selected="selected">$!{game.name}</option>
#else
               <option value="$game.id">$!{game.name}</option>
#end
#end
          </select>
        </td>
      </tr>
      <tr>
        <td>プレイヤ名</td>
        <td colspan=2><input type="text" name="playerName" value="$!{currentForm.playerName}" /></td>
      </tr>
      <tr>
        <td>ロール</td>
        <td colspan=2>
          <select name="roleName">
#foreach($role in $!currentForm.getWaitingRoleList())
            <option value="$role.name()">$!{role.name()}</option>
#end
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align=center><input type="button" value="登録" onClick="javascript:addPlayer(this.form);" /></td>
        <td align=center><input type="button" value="ｷｬﾝｾﾙ" onClick="javascript:init(this.form);" /></td>
      </tr>
    </table>
  </div>
  </form>
#parse("web/footer.vm")