#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>BeerGame</title>
  <script type="text/javascript" language="javascript">
    <!--
    function orderQuantity(formObj) {
      formObj.command.value='orderQuantity';
      formObj.submit();
    }
    -->
  </script>
</head>

#parse("web/errorList.vm")
#set($form = $currentForm)
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
  <input type="hidden" name="command" />
  <div id="main">
    <h1>ビールゲーム</h1>
　　<p>ゲーム名：$form.game.name　第 $form.role.getWeek("発注") 週　プレイヤ：$form.playerName</p>

  入荷　$form.inbound <BR/>
  受注  $form.acceptOrder<BR/>
  出荷　$form.outbound<BR/>

  注文在庫　$form.remain<BR/>


  発注数　<input type="text" name="order" />
  <input type="button" value="注文" onClick="javascript:orderQuantity(this.form);" />


　</div>
  </form>
#parse("web/footer.vm")
