#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <script language="javascript" type="text/javascript" src="./js/common.js"></script>
  <title>BeerGame</title>
  <script type="text/javascript" language="javascript">
    <!--
    function orderQuantity(formObj) {
      formObj.command.value='orderQuantity';
      formObj.submit();
    }
    -->
  </script>
</head>

#parse("web/errorList.vm")
#set($form = $currentForm)
#set($stock=$form.remain)
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
  <input type="hidden" name="command" />
  <div id="main">
    <h1>第 $form.role.getCurrentWeek("発注") 週</h1>
    <p>ゲーム名：$form.game.name  ロール：$form.role.name   プレイヤ：$form.role.player.name</p>
  <table border=2>
    <tr>
      <td>受注</td>
      <td style="width:50px; text-align:center;">$form.acceptOrder</td>
      <td>入荷</td>
      <td style="width:50px; text-align:center;">$form.inbound</td>
      <td>出荷</td>
      <td style="width:50px; text-align:center;">$form.outbound</td>
    </tr>
    <tr>
      <td>在庫</td>
      <td style="width:50px; text-align:center;">
#if($stock>=0)
$stock
#else
0
#end
      </td>
      <td>注残</td>
      <td style="width:50px; text-align:center;">
#if($stock<0)
#set($remain=0-$stock)
$remain
#else
0
#end
      </td>
      <td></td>
      <td style="width:50px; text-align:center;"></td>
    </tr>
  </table>
  <br />

  <table>
    <tr>
      <td>発注数&nbsp<input type="text" name="order" /></td>
      <td><input type="button" value="注文" onClick="javascript:orderQuantity(this.form); this.disabled = true;" /></td>
#if($form.isOwner())
      <BR/>
      <td><a href="$link.setAction('/viewStock').addQueryData('command','result').addQueryData('gameId',$form.game.id).addQueryData('roleId',$form.role.id)">結果を見る</a></td>
#end
    </tr>
  </table>
 </div>

<!--
  <h1>取引表示</h1>
  <table border=1>
#foreach($week in $!form.getDebagView())
    <tr>
#set($index = $velocityCount + 1)
      <td>$index</td>
#foreach($tran in $!week)
      <td>$tran.transactionType $tran.amount</td>
#end
    </tr>
#end
  </table>
-->
  </form>
#parse("web/footer.vm")
