#if($currentForm.message.hasError())
<div id="errorMessage">
  #foreach($property in $currentForm.message.properties)
    #foreach($msg in $currentForm.message.get($property))
    <span style="color: red">$msg<br></span>
    #end  
  #end
</div>  
#end
