#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <script language="javascript" type="text/javascript" src="./js/common.js"></script>
  <title>BeerGame</title>
  <script type="text/javascript" language="javascript">
    <!--
    function isEnableToStartGame(formObj) {
      formObj.command.value='isEnableToStartGame';
      formObj.submit();
    }
    -->
  </script>
</head>
<body>
#parse("web/errorList.vm")
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
  <input type="hidden" name="command" />
  <div id="main">
    <p>次へボタンを押して、プレイヤーが4人そろうまでお待ちください</p>
 <td align=center><input type="button" value="次へ" onClick="javascript:isEnableToStartGame(this.form); this.disabled = true;" /></td>
  </div>
  </form>
#parse("web/footer.vm")