#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>残高表示</title>
  <script type="text/javascript" language="javascript">
  <!--
    function viewStock(formObj) {
      formObj.command.value='viewStock';
      formObj.submit();
    }
  -->
  </script>
</head>
<body>
#parse("web/errorList.vm")
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
  <input type="hidden" name="command" />
  <div id="main">
    <h1>残高表示</h1>
    <table border=4>
      <tr>
        <td>チーム名</td>
        <td colspan=2>
          $currentForm.teamName
        </td>
      </tr>
      <tr>
        <td> </td>
        <td align=center></td>
        <td align=center><input type="button" value="戻る" onClick="location = '$link.setAction('/top')'" /></td>
      </tr>
    </table>

    <h1>在庫表示</h1>
　　<table border=1>
    #foreach($role in $!currentForm.getRoles())
     <tr>
        <td>
            <option value="$role.name">$role.name</option>
        </td>
         #foreach($stock in $!currentForm.getStockList($currentForm.teamName,$role.name))
            <td>
                $stock
            </td>
         #end
    </tr>
　　#end
    </table>　


    <h1>注残表示</h1>
　　<table border=1>
    #foreach($role in $!currentForm.getRoles())
     <tr>
        <td>
            <option value="$role.name">$role.name</option>
        </td>
         #foreach($stock in $!currentForm.getRemainList($currentForm.teamName,$role.name))
            <td>
                $stock
            </td>
         #end
    </tr>
　　#end
    </table>　

  </div>
  </form>
#parse("web/footer.vm")