#parse("web/header.vm")
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <script language="javascript" type="text/javascript" src="./js/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="./js/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript" src="./js/excanvas.min.js"></script>
  <script language="javascript" type="text/javascript">
  $(function () {
    //データ  
    var roles = [];
    #foreach($role in $!currentForm.getRoles())
      #set($map = $currentForm.getStockList($currentForm.teamName,$role.name))
      #set($id = $role.id)
      var d = [];
        #foreach($key in $map.keySet())
          d.push([$key, $map.get($key)]); 
        #end
      roles.push(d);
    #end

    //グラフ表示 
    jQuery.plot($("#wholeSeller"),
    [
      {
         color  : "red",
         label : "小売り",
         data: roles[0],
         lines: { show: true, fill: true },
         points: { show: true },
      }
    ],
      {
        yaxis:
        {
          min: -100,
          max: 100,
          ticks: 20,
          tickDecimals: 0,
        },
        xaxis:
        {
          min: 1,
          max: 37,
          ticks: 37,
          tickDecimals: 0,
        },
      }
    );
    //グラフ表示 
    jQuery.plot($("#supplier1"),
    [
      {
         color  : "blue",
         label  : "卸1",
         data   : roles[3],
         lines  : { show: true, fill: true },
         points : { show: true },
      }
    ],
      {
        yaxis:
        {
          min: -100,
          max: 100,
          ticks: 20,
          tickDecimals: 0,
        },
        xaxis:
        {
          min: 1,
          max: 37,
          ticks: 37,
          tickDecimals: 0,
        },
      }
    );
    //グラフ表示 
    jQuery.plot($("#supplier2"),
    [
      {
         color  : "green",
         label : "卸２",
         data: roles[1],
         lines: { show: true, fill: true },
         points: { show: true },
      }
    ],
      {
        yaxis:
        {
          min: -100,
          max: 100,
          ticks: 20,
          tickDecimals: 0,
        },
        xaxis:
        {
          min: 1,
          max: 37,
          ticks: 37,
          tickDecimals: 0,
        },
      }
    );
    //グラフ表示 
    jQuery.plot($("#maker"),
    [
      {
         color  : "orange",
         label : "メーカー",
         data: roles[2],
         lines: { show: true, fill: true },
         points: { show: true },
      }
    ],
      {
        yaxis:
        {
          min: -100,
          max: 100,
          ticks: 20,
          tickDecimals: 0,
        },
        xaxis:
        {
          min: 1,
          max: 37,
          ticks: 37,
          tickDecimals: 0,
        },
      }
    );
  });
  </script>
  <title>残高表示</title>
</head>
<body>
#parse("web/errorList.vm")
  <form action="$link.setAction($currentPath)" method="post" id="hiddenForm">
    <div id="wholeSeller" style="width:1024px;height:768px;"></div>
    <div id="supplier1" style="width:1024px;height:768px;"></div>
    <div id="supplier2" style="width:1024px;height:768px;"></div>
    <div id="maker" style="width:1024px;height:768px;"></div>
  </form>
#parse("web/footer.vm")
